.about {
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem 5rem 0rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
  @media (min-width: 991.98px) {
    flex-direction: row;
    padding: 10rem 0rem;
    width: 90%;
  }
  .about__content {
    width: 100%;
    order: 2;
    @media (min-width: 991.98px) {
      width: 65%;
      order: 1;
    }
    h1 {
      line-height: 1.5;
    }
    h1,
    p {
      width: 100%;
      @media (min-width: 991.98px) {
        width: 75%;
      }
    }
    p {
      font-size: $main-size;
      line-height: 1.5;
      span {
        font-family: InterBold;
      }
    }
    > div {
      display: block;
      width: 100%;
      @media (min-width: 991.98px) {
        width: 75%;
        display: flex;
      }
      > div {
        margin-right: 0rem;

        width: 100%;
        &:first-child {
          margin-bottom: 4rem;
        }
        @media (min-width: 991.98px) {
          margin-right: 4rem;
          margin-bottom: 0rem;
          width: 50%;
        }
        ul {
          li {
            font-size: $main-size;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .about__image {
    position: relative;
    width: 100%;
    margin: 0rem auto 4rem auto;
    order: 1;
    span {
      position: absolute;
      z-index: 2;
      top: 22%;
      left: 28%;
      font-size: 30vw;
    }
    @media (min-width: 991.98px) {
      width: 35%;
      margin: 0rem;
      order: 2;
      span {
        top: 9.5vw;
        left: 26%;
        font-size: 11vw;
        animation-play-state: initial;
      }
      &:hover {
        span {
          animation: shake 0.6s linear 0s;
          animation-play-state: running;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
}
